name: Build MSVC

on:
  push:
  pull_request:
  release:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: choco install nasm
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1
    - name: Build
      run: |
        $env:PATH += "C:\Program Files\NASM"
        msbuild
    - name: Upload
      uses: actions/upload-artifact@v2
      with:
        name: CPU73050-${{ github.sha }}-msvc.dll
        path: ./Release/CPU73050.dll
    - name: Update release
      if: github.event_name == 'release' && (github.event.action == 'published' || github.event.action == 'created')
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ./Release/CPU73050.dll
        asset_name: CPU73050-${{ github.sha }}-msvc.dll
        asset_content_type: application/x-dosexec
